html, body {
height: 100%;
}
div.hero-unit>a
{
    display: inline-block;
    float: right;
}

#search_results div{
    border: 2px solid;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 20px;
}

.icon-heart{
	margin-left: 95%
}

#header
{
	background-color: #E6B85C;
	padding: 10px;
	height: 30px;
}

#header h4
{
	float: left;
}

#header a
{
	float: right;

}

#letscook
{
	position: relative;
	display: block;
	top:150px;
	font-family: 'Yellowtail', cursive;
	text-align: center;
}

#letscook h1
{
    font-size: 80px;
    padding-bottom: 30px;
}

#letscook input
{
	width: 350px;
	height: 30px;
	
    padding: 0.2em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#letscook #search
{
	width: 50px;
	
	height: 25px;
    padding: 0.2em;
    margin: 0.1em 1.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}


#post_form
{
	background-color: #E6B85C;
	position: relative;
	margin: auto 300px;
	margin-top: 75px;
	padding: 30px;

}

#post_form>div
{
    
}

#post_form>div>input
{

    display: block;
    width: 400px;
    margin: auto;
    margin-bottom: 40px;

}

#steps
{

    margin: auto;
    display: block;
    width: 400px;
    max-width: 400px;

}

.footer
{
position: fixed;
left: 0px;
bottom: 0px;
height: 30px;
width: 100%;
margin-left: 0px;
text-align: center;
}

button#Post
{
	position: relative;
	margin-left: 340px;
	margin-top: 20px;
	display: block;
}